<%- include('../partials/header') %>

    <!-- <a href="/">Home</a>
    <a href="/flights/new">Add Flight</a> -->
    <h1>Flight List</h1>
    <table>
        <thead>
            <tr>
                <th>Airline</th>
                <th>Flight #</th>
                <th>Departure</th>
            </tr>
        </thead>
        <tbody>
            <!-- Iterate over movies array and write a 
        table row (<tr>) for each with 
        cols (<td>) that match the above headings (<th>) -->
            <% flights.forEach(function(flight, idx) { %>
            <tr>
                <td><%= flight.airline %></td>
                <td><%= flight.flightNo %></td>
                <td><%= flight.departs.toLocaleDateString() %></td>
                <td><a href="/flights/<%= flight._id %>">Details</a></td>
                <td><button>Delete</button></td>
            </tr>
            <% }); %>
        </tbody>
    </table>

<%- include('../partials/footer') %>