<%- include('../partials/header') %>

<h1>Flight Detail</h1>
<section id="show-page">
    <div>Airline: </div>
    <div><%= flight.airline %></div>
    <div>Flight Number:</div>
    <div><%= flight.flightNo %> </div>
    <div>Airport:</div>
    <div><%= flight.airport %></div>
    <div>Time Departed:</div>
    <div><%= flight.departs %> </div>
    <div>Tickets:</div>
    <ul>
        <%- flight.tickets.map(p => `<li>${p.seat} <small>${p.price}</small></li>`).join('') %>
    </ul>
</section>
<br>
<br><br>
<h2>Destinations</h2>
<% if (flight.destinations.length) { %>
<table>
    <thead>
        <tr>
            <th>Airport</th>
            <th>Arrival</th>
        </tr>
    </thead>
    <tbody>
        <% flight.destinations.forEach(function(d) { %>
        <tr>
            <td><%= d.airport %></td>
            <td><%= d.arrival %></td>
        </tr>
        <% }); %>
        </tr>
    </tbody>
</table>
<% } else { %>
<h4>No Destinations Yet</h4>
<% } %>
<h2>Tickets</h2>



<h1>Add Destination</h1>
<form id="add-destination-form" action="/flights/<%= flight._id %>/destinations" method="POST">
<label>Airport:</label><br>
<select name="airport">
    <option value="--">--Select Airport--</option>
    <option value="AUS">AUS</option>
    <option value="DFW">DFW</option>
    <option value="DEN">DEN</option>
    <option value="LAX">LAX</option>
    <option value="SAN">SAN</option>
</select><br>
<label>Arriving date: <br>
    <input type="datetime-local" name="arrival">
</label><br>
<input type="submit" value="Add Destination">
</form> 

<%- include('../partials/footer') %> 